/* Basic styling */
body {
  font-family: Ebrima, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff; /* Background color of the nav bar */
  padding: 0px 10px;
  color: #404040; /* Text color of the nav bar */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  /* Base styles */
  color: #404040; /* Base text color */
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
}

nav ul li a:hover {
  /* Hover styles */
  background-color: #D3D3D3; /* Background color on hover */
  color: #404040; /* Text color on hover */
}
