/* Basic styling */
body {
  font-family: Ebrima, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff; /* Background color of the nav bar */
  margin-left: 30px;
  padding: 0px 10px;
  color: #404040; /* Text color of the nav bar */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav a {
  font-size: 10px; /* Match the height of the logo */
  padding: 5px 60px;
  text-decoration: none;
  color: #404040; /* Base text color for nav links */
}

nav a:hover {
  background-color: #f0f0f0; /* Background color on hover */
  color: #404040; /* Text color on hover */
}
